.card
  - if @lecture.present?
    .card-body
      %h3.card-title= @lecture.subject
      %h4.card-subtitle.text-muted= @lecture.timeframe
  %ul.list-group.list-group-flush
    - if @lecture.present?
      %li.list-group-item
        %strong Lecturer:
        = @lecture.lecturer
    %li.list-group-item
      %strong Clocked in at
      = @entry.created_at.strftime('%H:%M')
  .card-header
    = link_to 'All entries', entries_path, class: 'btn btn-primary btn-sm'
