.pb-2.mt-4.mb-2.border-bottom
  %h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group.row
    = f.label :email, class: 'col-sm-2 col-form-label'
    .col-sm-6
      = f.email_field :email, autofocus: true, class: 'form-control'
  .form-group.row
    = f.label :password, class: 'col-sm-2 col-form-label'
    .col-sm-6
      = f.password_field :password, autocomplete: "off", class: 'form-control'
  .form-group.row
    .col-sm-6
      = f.submit "Log in", class: 'btn btn-primary'
= render "devise/shared/links"
