!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Register
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .col-lg-6
      .container-fluid
        %nav.navbar.navbar-expand.navbar-light.bg-light
          .navbar-nav
            - if user_signed_in?
              = link_to 'Entries', entries_path, class: 'nav-item nav-link'
              - if current_user.admin?
                = link_to 'Lectures', lectures_path, class: 'nav-item nav-link'
              = link_to 'Edit your info', edit_user_registration_path, class: 'nav-item nav-link'
              = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-item btn btn-outline-danger'
            - else
              = link_to 'Log in', new_user_session_path, class: 'nav-item nav-link active'
        - if flash[:notice]
          .alert.alert-dismissible.alert-primary
            = flash[:notice]
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
        - if flash[:alert]
          .alert.alert-dismissible.alert-danger
            = flash[:alert]
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
        = yield
